.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 992px) {
  .menu-options {
    display: flex;
    justify-content: end;
    margin-top: 10px;
  }
}

.row {
  --bs-gutter-x: none !important;
  --bs-gutter-y: none !important;
}

.services {
  background: rgba(0, 0, 0, .5) !important;
  margin: 0 20px !important;
  padding: 15px !important;
  backdrop-filter: blur(20px) !important;
  color: #fff !important;
}

.benifits-container {
  padding: 30px !important;
  background-color: transparent !important;
  background-image: linear-gradient(150deg, #005389 0%, #009CD7 100%) !important;
  border-radius: 10px 10px 10px 10px !important;
  cursor: default !important;
}

.home_heroform {
  padding: 40px 20px !important;
  border-radius: 10px !important;
  background: rgba(0, 0, 0, .6) !important;
}

p {
  font-size: 18px !important;
  font-weight: lighter !important;
}

.service-bg {
  /* background: linear-gradient(150deg, #005389 0%, #258B41 100%) !important; */
  background-color: line;
  /* background-image: linear-gradient(to bottom right, #FF512F, #DD2476); */

  background: linear-gradient(90deg, #3b3b3b, #373737, #333333, #303030, #2c2c2c, #282828, #252525, #212121);
}

.buttons-ag {
  fill: #fff;
  color: #fff;
  background-color: transparent;
  background-image: linear-gradient(150deg, #258B41 0%, #5FBE4C 100%);
}

.contact-btn {
  background: #ff8000 !important;
}

/*  */
/* SocialMediaIcons.css */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icon-link {
  display: inline-block;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease-in-out;
}

.icon {
  font-size: 24px;
}

.icon-link:hover {
  transform: scale(1.2);
  /* Apply hover animation */
}

/*  */
@media only screen and (max-width: 767px) {
  .slick-prev {
    display: none !important;
  }

  .slick-next {
    display: none !important;
  }
}

/*  */
#basic-nav-dropdown {
  color: #fff !important;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

.navbar {
  --bs-navbar-padding-x: 0 !important;
  --bs-navbar-padding-y: 0 !important;
}

a {
  text-decoration: none !important;
}

.section-2 {
  background-image: linear-gradient(to right, #DECBA4, #3E5151);

}

.section-1 {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.section-3 {
  background-image: linear-gradient(to right, #DECBA4, #3E5151);
}

.navbar-toggler {
  background: #fff !important;
}

@media screen and (min-width: 992px) {
  .services-1 {
    background: rgba(0, 0, 0, .5) !important;
    margin: 0 20px !important;
    padding: 15px !important;
    backdrop-filter: blur(20px) !important;
    color: #fff !important;
    height: 400px !important;
  }
}

.services-1 {
  background: rgba(0, 0, 0, .5) !important;
  margin: 0 20px !important;
  padding: 15px !important;
  backdrop-filter: blur(20px) !important;
  color: #fff !important;
  height: auto;
}

::placeholder {
  font-size: 0.8rem !important;
}

.card {
  --bs-card-spacer-y: 0 !important;
  --bs-card-spacer-x: 0 !important;
}

.dropdown-item,
#residential-dropdown {
  color: rgba(33, 37, 41) !important;
  font-weight: lighter !important;
}



.drop {
  margin-left: 20px;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #ff8000 !important;
}

.ag-head:hover,
#basic-nav-dropdown:hover {
  color: #ff8000 !important;
  transition: .5s;
}

.enq:hover {
  background: #fff !important;
  color: #ff8000 !important;
  transition: all .5s;
}

.ctc:hover {
  color: green !important;
  transition: all .5s;
}

/*  */